.water {
  height: 80vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}
.table {
height: 100%;
display: flex;
flex-direction: row;

  &__names {
    margin: 0;
    padding: 0;
    width: 370px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 14px;
    text-align: start;
    border: 1px solid #000;
  }

  &__name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #000;


    &:last-child {
      border: none;
    }
  }
  &__button {
    border: none;
    &_invisible {
      display: none;
    }
  }
}