.popup {
  position: fixed;
  background-color: rgba(24, 93, 102, 0.4);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


&_invisible {
  display: none;
}

&__content {
  width: 50vw;
  height: 90vh;
  border-radius: 10px;
  background-color: #ffff;
  position: relative;
  display: flex;
  flex-direction: column;
}

&__close-button {
  background-image: url(../../utils/images/closeIqon.png);
  width: 35px;
  height: 35px;
  background-size: cover;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  top: -35px;
  right: -25px;
}

&__fildset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

&__label {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

&__inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
}